@import "bootstrap/bootstrap";
@import "bootstrap-callout";
@import url(https://fonts.googleapis.com/css?family=Lato);
@btn-font-weight: 300;
@font-family-sans-serif: 'Lato', sans-serif;

@import "bootstrap/variables";
@import "../plugins/bootstrap-datetimepicker/_bootstrap-datetimepicker.less";

body {
  background: #FFF;
  font-family: @font-family-sans-serif;
  color: #464F5D;
}
body, label, .checkbox label {
  font-weight: 300;
}

/* Navbar */
.navbar-default {
  background: #FFF;
  border-bottom: 2px solid #e9e9eb;
}
.navbar-brand {
  padding: 9px 10px 0 32px;
  margin-right: 20px;
  line-height: 0;
}
.navbar-default .navbar-nav {
  margin-bottom: -2px;
}
.navbar-default .navbar-nav > li > a {
  padding: 15px 25px;
  border-bottom: 2px solid transparent;
  font-size: 13px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 2px solid #e18162;
  background-color: #f2f2f4;
  font-weight: bold;
}
.navbar-user-image {
  padding-right: 5px !important;
}
.navbar-user-name {
  padding-left: 5px !important;
  color: #484F5D !important;
  font-weight: bold;
}

/* Tabs */
.nav-tabs {
  border-bottom: 2px solid #ecedee;
}
.nav-tabs > li {
  margin-bottom: -2px;
}
.nav-tabs > li > a {
  border: 2px solid transparent;
  color: #464F5D;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 2px solid transparent;
  background: 0;
  border-bottom: 2px solid #e18162;
  font-weight: bold;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border: 2px solid transparent;
  background: 0;
  border-bottom: 2px solid #e18162;
}

/* Table */
.table-striped > tbody > tr:nth-child(odd) {
  background: #FFF;
}

.table > thead:first-child > tr:first-child > th {
  color: #8D8E90;
  font-size: 12px;
  font-weight: normal;
  border: 0;
}

/* Badge */
.badge {
  background: #434c59;
}

/* Buttons */
.btn-primary {
  background: #f67b51;
  border-color: #f67b51;
  border-radius: 20px;
  font-size: 11px;
}
.btn-primary .badge {
  font-size: 10px;
  color: #F67B51;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #f67b51;
  border-color: #f67b51;
  opacity:0.8;
}
.btn-danger {
  background: #414e5d;
  border-color: #414e5d;
  border-radius: 20px;
  font-size: 11px;
}
.btn-danger .badge {
  font-size: 10px;
  color: #414e5d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background: #414e5d;
  border-color: #414e5d;
  opacity:0.8;
}

/* Panel */
.panel-primary {
  border: 1px solid #484f5d;
}
.panel-primary > .panel-heading {
  background: #484f5d;
  border-color: #484f5d;
}

.panel-primary .session-status {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 32px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.panel-primary .session-status.session-opened {
  background: #e5f5e4;
  color: #75AB6E;
}
.panel-primary .session-status.session-closed {
  background: #f2e4e4;
  color: #A46F70;
}
.button-close-im {
  color: #484F5D;
  font-size: 30px;
}
.panel-footer {
  background: #FFF;
}
.panel-footer input {
  line-height: 40px;
  height:40px;
  font-size: 14px;
}
.panel-footer .btn-default {
  background: #ecedee;
  color: #484F5D;
  height: 40px;
  text-transform: uppercase;
  padding: 0 20px;
}

/* Alerts */
.alert-info {
  background: #fce6da;
  border-color: #fce6da;
  color: #D3794E;
  font-size: 12px;
}

/* Labels */
.label {
  font-weight: normal;
}
.label-primary {
  color: #4F9B2B;
  background: #e5f5e4;
}
.label-danger {
  color: #a87677;
  background: #f2e4e4;
}

/* Custom */
.list-user-image {
  margin-right: 10px;
}

.list-user-name {
  white-space: nowrap;
}